{{outlet}}

<div class="timetable">
  <div class="timetable__filters"></div>
  <div class="timetable__group-title">ПИ-17У</div>
  <div class="timetable__week">
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson">

      </div>
      <div class="timetable__week__day__lesson">

      </div>
      <div class="timetable__week__day__lesson">

      </div>
      <div class="timetable__week__day__lesson">

      </div>
      <div class="timetable__week__day__lesson">

      </div>
      <div class="timetable__week__day__lesson">

      </div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
  </div>
  <div class="timetable__group-title">М-17У-П</div>
  <div class="timetable__week">
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
  </div>
  <div class="timetable__group-title">Ю-17У-1</div>
  <div class="timetable__week">
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
    <div class="timetable__week__day">
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
      <div class="timetable__week__day__lesson"></div>
    </div>
  </div>
</div>
